apiVersion: apps/v1
kind: Deployment
metadata:
  name: ivyo
spec:
  template:
    spec:
      containers:
        - name: operator
          env:
            # https://docs.openshift.com/container-platform/4.7/operators/understanding/olm/olm-understanding-operatorgroups.html
            - name: IVYO_TARGET_NAMESPACE
              valueFrom: { fieldRef: { fieldPath: "metadata.annotations['olm.targetNamespaces']" } }
